/*Fonts*/
@font-face {
    font-family: smalle;
    src: url(./fonts/smalle.ttf);
}
@font-face {
    font-family: CHAOS;
    src: url(./fonts/CHAOS16.otf);
}
@font-face {
    font-family: Arvo;
    src: url(./fonts/Arvo.ttf);
}

/*Text Styling*/
    /*Headers*/
    h1 {
        font-family: CHAOS;
        font-size:60px;
        color:white;
    }
    h2 {
        font-family: CHAOS;
        font-size:54px;
        color:white;
    }
    h3 {
        font-family: CHAOS;
        font-size:49px;
        color:white;
    }
    h4 {
        font-family: CHAOS;
        font-size:42px;
        color:white;
    }
    /*Paragraphs*/
    p {
        font-family: smalle;
        font-size: 19px;
        color: white;
    }


/*Cool animations*/
.creditsTitle {
    color: white;
    transition: ease, 0.3s;
}
.creditsTitle:hover {
    color: rebeccapurple;
    transition: ease, 0.3s;
}

/*Buttons*/
button {
    transition: ease;
    transition-duration: 0.2s;
    background-color: rebeccapurple;
    font-size: 30px;
    width: 270px;
    height: 50px;
    border: none;
}
button:hover {
    transition: ease;
    transition-duration: 0.2s;
    background-color: rgb(144, 104, 183);
    color: white;
}
button:active {
    transition: ease;
    transition-duration: 0.01s;
    background-color: rgb(57, 57, 57);
    color: white;
}



/*Body*/
body {
    background-color: black;
}
footer {
    text-align: center;
}
footer p {
    margin-top: 2;
    font-family: Arial;
    font-size: 21px;
    color: grey;
}
footer a {
    font-family: CHAOS;
    font-size: 23px;
}



/*Dividors*/
.creditsBorder {
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(57, 57, 57); 
    background-color: rgb(57, 57, 57);
    border-radius: 3%;
}
hr {
    align-items: center;
}


/*Links*/
a {
    color: rebeccapurple;
}
a:visited {
    color: rebe;
}


